<%- include ('layout/navbar.ejs') %>
      <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">

            <%- include ('layout/header.ejs') %>
                  <div class="container" style="margin-top: 14%;">

                        <section class="panel panel-default mt-56">
                              <div class="panel-heading">
                                    <h3 class="panel-title">Add Product</h3>
                              </div>
                              <div class="panel-body">

                                    <form action="designer-finish.html" class="form-horizontal" role="form">

                                          <div class="form-group">
                                                <!-- <label for="name" class="col-sm-3 control-label">Select the
                                                      Cateogry</label> -->
                                                <!-- <div class="col-sm-9">
                                                      <label class="radio-inline">
                                                            <input type="radio" name="inlineRadioOptions"
                                                                  id="inlineRadio1" value="option1"> Внешный заказ
                                                      </label>
                                                      <label class="radio-inline">
                                                            <input type="radio" name="inlineRadioOptions"
                                                                  id="inlineRadio2" value="option2"> Внутренный заказ
                                                      </label>
                                                </div> -->
                                          </div> <!-- form-group // -->

                                          <div class="form-group">
                                                <label for="name" class="col-sm-3 control-label">Product Name</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="name" id="name"
                                                            placeholder="Исм ёки корхона номи">
                                                </div>
                                          </div> <!-- form-group // -->
                                          <div class="form-group">
                                                <label for="name" class="col-sm-3 control-label">Description</label>
                                                <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="name" id="name"
                                                            placeholder="Название">
                                                </div>
                                          </div> <!-- form-group // -->

                                          <div class="form-group">
                                                <label for="about" class="col-sm-3 control-label">Price</label>
                                                <div class="col-sm-9 d-flex ">
                                                      <div>
                                                            <label for="about"
                                                                  class="col-sm-3 control-label">Retail</label>
                                                            <input type="text" class="form-control" name="name"
                                                                  id="name" placeholder="$">
                                                      </div>


                                                      <div> <label for="about"
                                                                  class="col-sm-3 control-label">Offer</label> <input
                                                                  type="text" class="form-control ml-3" name="name"
                                                                  id="name" placeholder="$"></div>

                                                </div>

                                                <!-- <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="name" id="name"
                                                            placeholder="Название">
                                                </div> -->
                                          </div>
                                          <div class="flex"> <label for="about"
                                                      class="col-sm-3 block control-label">Category</label>
                                                <label for="about" class="col-sm-3 ms-3 control-label">Color</label>
                                                <label class="form-label">Size</label>
                                          </div>

                                          <div class="flex">


                                                <div class=" form-group flex ml-3 w-25">


                                                      <select class="form-select " aria-label="Default select example">
                                                            <option selected>Select Category</option>
                                                            <option value="1">MEN</option>
                                                            <option value="2">WOMEN</option>
                                                            <option value="3">Accessories</option>
                                                      </select>
                                                      <a href="#"> <button type="submit"
                                                                  class="btn btn-primary bg-cyan-600 ml-2 mr-4">Add</button></a>
                                                </div>

                                                <div class=" form-group flex ml-3 w-25">

                                                      <select class="form-select " aria-label="Default select example">
                                                            <option selected>Select Color</option>
                                                            <option value="1">Black</option>
                                                            <option value="2">Blue</option>
                                                            <option value="3">white</option>
                                                      </select>
                                                      <a href="#"> <button type="submit"
                                                                  class="btn btn-primary bg-cyan-600 ml-2 mr-4">Add</button></a>
                                                </div>
                                                <div class="flex"> <select class="form-select w-40"
                                                      aria-label="Default select example">
                                                      <option selected>Select Size</option>
                                                      <option value="1">S</option>
                                                      <option value="2">M</option>
                                                      <option value="3">L</option>
                                                </select>
                                                <a href="#"> <button type="submit"
                                                            class="btn btn-primary bg-cyan-600 ml-2 w-">Add</button></a>
                                          </div>
                                          </div>




                                          <div class="form-group">
                                                <label for="about" class="col-sm-3 control-label">Описание</label>
                                                <div class="col-sm-9">
                                                      <textarea class="form-control"></textarea>
                                                </div>
                                          </div> <!-- form-group // -->
                                          <div class="form-group">
                                                <label for="qty" class="col-sm-3 control-label">Количество</label>
                                                <div class="col-sm-3">
                                                      <input type="text" class="form-control" name="qty" id="qty"
                                                            placeholder="шт.">
                                                </div>
                                          </div> <!-- form-group // -->
                                          <div class="form-group">
                                                <label class="col-sm-3 control-label">Сроки</label>
                                                <div class="col-sm-3">
                                                      <label class="control-label small" for="date_start">Начало:
                                                      </label>
                                                      <input type="text" class="form-control" name="date_start"
                                                            id="date_start" placeholder="Начало">
                                                </div>
                                                <div class="col-sm-3">
                                                      <label class="control-label small"
                                                            for="date_finish">Конец:</label>
                                                      <input type="text" class="form-control" name="date_finish"
                                                            id="date_finish" placeholder="Конец">
                                                </div>
                                          </div> <!-- form-group // -->
                                          <div class="form-group">
                                                <label for="name" class="col-sm-3 control-label">Загрузить</label>
                                                <div class="col-sm-3">
                                                      <label class="control-label small" for="file_img">Картинка
                                                            (jpg/png):</label>
                                                      <input type="file" name="file_img">
                                                </div>
                                                <div class="col-sm-3">
                                                      <label class="control-label small" for="file_img">Файлы:</label>
                                                      <input type="file" name="file_archive">
                                                </div>
                                          </div> <!-- form-group // -->
                                          <div class="form-group">
                                                <label for="tech" class="col-sm-3 control-label">Технолог</label>
                                                <div class="col-sm-3">
                                                      <select class="form-control">
                                                            <option value="">Выберите</option>
                                                            <option value="texnolog2">Технолог 2</option>
                                                            <option value="texnolog3">Технолог 3</option>
                                                      </select>
                                                </div>
                                          </div> <!-- form-group // -->
                                          <hr>
                                          <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                      <button type="submit" class="btn btn-primary">Отправить</button>
                                                </div>
                                          </div> <!-- form-group // -->
                                    </form>

                              </div><!-- panel-body // -->
                        </section><!-- panel// -->


                  </div> <!-- container// -->
      </main>