<div class="m-0 font-sans antialiased font-normal text-start text-base leading-default text-slate-500">
      <main class="mt-0 transition-all duration-200 ease-in-out">
            <section>
                  <div class="relative flex items-center min-h-screen p-0 overflow-hidden bg-center bg-cover">
                        <div class="container z-1">
                              <div class="flex flex-wrap -mx-3">
                                    <div
                                          class="flex flex-col w-full max-w-full px-3 mx-auto lg:mx-0 shrink-0 md:flex-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
                                          <div
                                                class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none lg:py4 dark:bg-gray-950 rounded-2xl bg-clip-border ">
                                                <% if ( expressFlash.length> 0 ) { %>
                                                      <div class="alert alert-danger" role="alert">
                                                            <%= expressFlash %>
                                                      </div>
                                                      <% } %>

                                                            <div class="p-6 pb-0 mb-0">
                                                                  <h4 class="font-bold">Sign In</h4>
                                                                  <p class="mb-0">Enter your email and password to sign
                                                                        in</p>
                                                            </div>
                                                            <div class="flex-auto p-6">
                                                                  <form role="form" id="formLogin" action="./Userlogin"
                                                                        method="post">
                                                                        <div class="mb-4">
                                                                              <input type="email" placeholder="Email"
                                                                                    autocomplete="off"
                                                                                    onkeyup="validateEmail()" id="email"
                                                                                    name="Email"
                                                                                    class="focus:shadow-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                                                                              <span class="text-danger"
                                                                                    id="emailMsg"></span>
                                                                        </div>
                                                                        <div class="mb-4">
                                                                              <input type="password"
                                                                                    placeholder="Password" id="password"
                                                                                    onkeyup="validatePass()"
                                                                                    name="Password"
                                                                                    class="focus:shadow-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                                                                              <span class="text-danger"
                                                                                    id="passMsg"></span>

                                                                        </div>
                                                                        <div
                                                                              class="flex items-center pl-12 mb-0.5 text-left min-h-6">
                                                                              <input id="rememberMe"
                                                                                    class="mt-0.5 rounded-10 duration-250 ease-in-out after:rounded-circle after:shadow-2xl after:duration-250 checked:after:translate-x-5.3 h-5 relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-zinc-700/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-blue-500/95 checked:bg-blue-500/95 checked:bg-none checked:bg-right"
                                                                                    type="checkbox" />
                                                                              <label class="ml-2 font-normal cursor-pointer select-none text-sm text-slate-700"
                                                                                    for="rememberMe">Remember me</label>
                                                                        </div>
                                                                        <div class="text-center">
                                                                              <button type="submit"
                                                                                    onclick="return validate()"
                                                                                    class="inline-block w-full px-16 py-3.5 mt-6 mb-2 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Sign
                                                                                    in</button>
                                                                              <span class="text-danger "
                                                                                    id="submitMsg"></span>
                                                                        </div>
                                                                  </form>
                                                            </div>
                                          </div>
                                    </div>

                              </div>
                        </div>
                  </div>
            </section>
      </main>
</div>





<script>
      const emailError = document.getElementById("emailMsg")
      const passError = document.getElementById("passMsg")
      const submitError = document.getElementById("submitMsg")

      function validateEmail() {
            var email = document.getElementById("email").value;
            if (email.length == 0) {
                  emailError.innerHTML = "Email is required"
                  return false;
            }
            if (!email.match(/^[A-Z0-9_!#$%&'*+/=?`{|}~^.-]+@[A-Z0-9.-]+$/)) {
                  emailError.innerHTML = "Email Invalid"
                  return false;
            }
            emailError.innerHTML = " "
            return true;


      }
      function validatePass() {
            var pass = document.getElementById("password").value
            if (pass.length == 0) {
                  passError.innerHTML = "Password is required"
                  return false;
            }
            passError.innerHTML = " "
            return true;
      }


      function validate() {
            if (!validateEmail() || !validatePass()) {
                  submitError.style.display = "block";
                  passError.style.display = "block";
                  submitError.style.display = "block";
                  passError.innerHTML = "Password is required"
                  emailError.innerHTML = "Email is required"
                  submitError.innerHTML = "Please enter your details"
                  setTimeout(() => {
                        submitError.style.display = "none";
                        passError.style.display = "none";
                        submitError.style.display = "none";

                  }, 3000)

                  return false;
            }


      }

</script>