<form>
      <!-- Name input -->
      <div
            class="form-outline mb-3">
            <input type="text"
                  id="form4Example1"
                  class="form-control"
                  value="<%= banner[i].Category %> " />
            <label class="form-label"
                  for="form4Example1">Category</label>
      </div>

      <!-- Email input -->
      <div
            class="form-outline mb-3">
            <input type="text"
                  id="form4Example2"
                  class="form-control"
                  value="<%= banner[i].Title %> " />
            <label class="form-label"
                  for="form4Example2">Title</label>
      </div>

      <!-- Message input -->
      <div
            class="form-outline mb-3">
            <textarea
                  class="form-control"
                  id="form4Example3"
                  rows="4"></textarea>
            <label class="form-label"
                  for="form4Example3">Message</label>
      </div>
      <div class="mb-3">
            <label for="formFile"
                  class="form-label">Image</label>
            <input class="form-control"
                  onchange="loadFile(event)"
                  type="file"
                  id="formFile">



            <div
                  style="width: 100%; display: flex;justify-content: space-evenly;">
                  <img id="output"
                        style="width: 25%; height:auto; margin-top: 10px;">
            </div>
      </div>


      <!-- Submit button -->

</form>