<div class="bg-gray-300">
      <div class="d-flex justify-content-center align-items-center container w-25" style="height:100vh ;">
            <div class="card py-4 px-3 ">

                  <h5 class="m-0 mb-3 text-bold text-xl">Mobile phone verification</h5><span class="mobile-text">Enter
                        the
                        code we
                        just send on
                        your
                        mobile phone <b class="text-danger">
                              <%= phone %>
                        </b></span>
                  <form method="post" action="./otp" onsubmit=" return validate()">
                        <div class="d-flex flex-row mt-5 mx-10"><input type="text" class="form-control" id="otp"
                                    name="OTP">
                        </div> <button type="submit"
                              class="btn btn-success bg-green-700 text-black mx-auto mt-4 d-flex justify-content-center  align-items-center">Success</button>
                  </form>

                  <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the
                              code?</span>
                        <a href="/resendOtp"><span class="font-weight-bold text-danger cursor">Resend</span></a>
                  </div>
            </div>
      </div>
</div>

<script>
      function validate() {
            const otp = document.getElementById("otp").value;
            if (otp == "") {
                  Swal.fire('Please enter the opt!')
                  return false;
            } else {
                  return true;
            }
      }

      function resend() {
            axios.put("/resendotp",)
      }
</script>