<%- include ('layout/navbar.ejs') %>

      <div
            class="m-0 font-sans antialiased font-normal dark:bg-slate-900 text-base leading-default bg-gray-50 text-slate-500">

            <div class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68">

                  <div class="w-full p-6 mx-auto">
                        <div class="flex flex-wrap -mx-3">
                              <div class="w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-0">
                                    <div
                                          class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                                          <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 pb-0">
                                                <div class="flex items-center">
                                                      <p class="mb-0 dark:text-white/80">Orders</p>

                                                </div>
                                          </div>
                                          <div
                                                class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68">

                                                <div
                                                      class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">

                                                      <div class="flex flex-wrap justify-center -mx-3">
                                                            <div class="w-4/12 max-w-full px-3 flex-0 ">
                                                                  <div class="mb-6 -mt-6 lg:mb-0 lg:-mt-16">
                                                                        <a href="javascript:;">
                                                                              <img class="h-auto max-w-full border-2 border-white border-solid rounded-circle"
                                                                                    src="/admin/assets1/img/team-2.jpg"
                                                                                    alt="profile image">
                                                                        </a>
                                                                  </div>
                                                            </div>
                                                      </div>


                                                      <div class="flex-auto p-6 pt-0">
                                                            <div class="flex flex-wrap -mx-3">
                                                                  <div class="w-full max-w-full px-3 flex-1-0">
                                                                        <div class="flex justify-center">
                                                                              <div class="grid mx-6 text-center">
                                                                                    <span
                                                                                          class="font-bold dark:text-white text-lg">10</span>
                                                                                    <span
                                                                                          class="leading-normal dark:text-white text-sm opacity-80">Orders</span>
                                                                              </div>
                                                                              <div class="grid text-center">
                                                                                    <span
                                                                                          class="font-bold dark:text-white text-lg">89</span>
                                                                                    <span
                                                                                          class="leading-normal dark:text-white text-sm opacity-80">Comments</span>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="mt-6 ">
                                                                  <h5 class="dark:text-white ">
                                                                        Mark Davis
                                                                  </h5>
                                                                  <div
                                                                        class="mb-2 font-semibold leading-relaxed text-base dark:text-white/80 text-slate-700">

                                                                        Email Address
                                                                  </div>
                                                                  <div
                                                                        class="mt-6 mb-2 font-semibold leading-relaxed text-base dark:text-white/80 text-slate-700">
                                                                        <i
                                                                              class="mr-2 dark:text-white ni ni-briefcase-24"></i>
                                                                        Solution Manager - Creative Tim Officer
                                                                  </div>
                                                                  <!-- Button trigger modal -->
                                                                  <button type="button" class="btn btn-primary"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#staticBackdrop">
                                                                        Launch static backdrop modal
                                                                  </button>


                                                                  <div class="modal fade" id="staticBackdrop"
                                                                        data-bs-backdrop="static"
                                                                        data-bs-keyboard="false" tabindex="-1"
                                                                        aria-labelledby="staticBackdropLabel"
                                                                        aria-hidden="true">
                                                                        <div
                                                                              class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                                              <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                          <h1 class="modal-title fs-5"
                                                                                                id="staticBackdropLabel">
                                                                                                Modal title
                                                                                          </h1>
                                                                                          <button type="button"
                                                                                                class="btn-close"
                                                                                                data-bs-dismiss="modal"
                                                                                                aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                          <form method="post"
                                                                                                action="/updateprofile">
                                                                                                <div
                                                                                                      class="flex-auto p-6">
                                                                                                      <p
                                                                                                            class="leading-normal uppercase dark:text-white dark:opacity-60 text-sm">
                                                                                                            User
                                                                                                            Information
                                                                                                      </p>
                                                                                                      <div
                                                                                                            class="flex flex-wrap -mx-3">
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="first name"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">First
                                                                                                                              name</label>
                                                                                                                        <input type="text"
                                                                                                                              name="firstname"
                                                                                                                              value="Jesse"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-6/12 md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="last name"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">Last
                                                                                                                              name</label>
                                                                                                                        <input type="text"
                                                                                                                              name="lastname"
                                                                                                                              value="Lucky"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>

                                                                                                            </div>



                                                                                                      </div>
                                                                                                      <hr
                                                                                                            class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent " />

                                                                                                      <p
                                                                                                            class="leading-normal uppercase dark:text-white dark:opacity-60 text-sm">
                                                                                                            Contact
                                                                                                            Information
                                                                                                      </p>
                                                                                                      <div
                                                                                                            class="flex flex-wrap -mx-2">
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-full md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="address"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">Address</label>
                                                                                                                        <input type="text"
                                                                                                                              name="address"
                                                                                                                              value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="city"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">City</label>
                                                                                                                        <input type="text"
                                                                                                                              name="city"
                                                                                                                              value="New York"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="country"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">State</label>
                                                                                                                        <input type="text"
                                                                                                                              name="state"
                                                                                                                              value="United States"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                  class="w-full max-w-full px-3 shrink-0 md:w-4/12 md:flex-0">
                                                                                                                  <div
                                                                                                                        class="mb-4">
                                                                                                                        <label for="postal code"
                                                                                                                              class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80">Postal
                                                                                                                              code</label>
                                                                                                                        <input type="text"
                                                                                                                              name="pincode"
                                                                                                                              value="437300"
                                                                                                                              class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-white text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none" />
                                                                                                                  </div>
                                                                                                            </div>


                                                                                                      </div>
                                                                                                      <button
                                                                                                            type="submit"
                                                                                                            class="bg-blue-500 hover:bg-blue-400 text-white  font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                                                                                            Update
                                                                                                      </button>
                                                                                                </div>
                                                                                          </form>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                          <button type="button"
                                                                                                class="btn btn-secondary"
                                                                                                data-bs-dismiss="modal">Close</button>
                                                                                          <button type="button"
                                                                                                class="btn btn-primary">Understood</button>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>


                                                            </div>
                                                      </div>
                                                </div>

                                          </div>

                                    </div>
                              </div>
                              <div class="w-full max-w-full px-3 mt-6 shrink-0 md:w-4/12 md:flex-0 md:mt-0">

                              </div>

                        </div>

                  </div>
            </div>

      </div>

      <!-- modal -->


      <%- include ('layout/footer.ejs') %>






           <!-- End .header -->


           <div class=" container">
            <div class="row">
                  <aside class="col-md-4 col-lg-3">
                        <ul class="nav  flex-column mb-3 mb-md-0" role="tablist">
                              <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                          href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                          aria-selected="true">Dashboard</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                          role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                          role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                          role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                          role="tab" aria-controls="tab-account" aria-selected="false">Account
                                          Details</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="#">Sign Out</a>
                              </li>
                        </ul>
                  </aside><!-- End .col-lg-3 -->

                  <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                              <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">
                                    <p>Hello <span class="font-weight-normal text-dark">User</span>
                                          (not <span class="font-weight-normal text-dark">User</span>?
                                          <a href="#">Log out</a>)
                                          <br>
                                          From your account dashboard you can view your <a href="#tab-orders"
                                                class="tab-trigger-link link-underline">recent
                                                orders</a>, manage your <a href="#tab-address"
                                                class="tab-trigger-link">shipping and billing
                                                addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit
                                                your password and
                                                account details</a>.
                                    </p>
                              </div><!-- .End .tab-pane -->

                              <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                    aria-labelledby="tab-orders-link">
                                    <p>No order has been made yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a>
                              </div><!-- .End .tab-pane -->

                              <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                    aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a>
                              </div><!-- .End .tab-pane -->

                              <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">
                                    <p>The following addresses will be used on the checkout page
                                          by default.</p>

                                    <div class="row">
                                          <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                      <div class="card-body">
                                                            <h3 class="card-title">Billing
                                                                  Address</h3>
                                                            <!-- End .card-title -->

                                                            <p>User Name<br>
                                                                  User Company<br>
                                                                  John str<br>
                                                                  New York, NY 10001<br>
                                                                  1-234-987-6543<br>
                                                                  yourmail@mail.com<br>
                                                                  <a href="#">Edit <i class="icon-edit"></i></a>
                                                            </p>
                                                      </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                          </div><!-- End .col-lg-6 -->

                                          <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                      <div class="card-body">
                                                            <h3 class="card-title">Shipping
                                                                  Address</h3>
                                                            <!-- End .card-title -->

                                                            <p>You have not set up this type of
                                                                  address yet.<br>
                                                                  <a href="#">Edit <i class="icon-edit"></i></a>
                                                            </p>
                                                      </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                          </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                              </div><!-- .End .tab-pane -->

                              <!-- .End .tab-pane -->
                        </div>
                  </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
      </div><!-- End .container -->


      <!-- End .footer -->
      <!-- End .page-wrapper -->
      <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

      <!-- Mobile Menu -->
      <div class="mobile-menu-overlay"></div>

      <!-- Sign in / Register Modal -->