<!-- 

<form id="my_form">
      <div>
            <label class="block text-sm font-medium mb-1" for="card-nr">Email
                  <input octavalidate="R,EMAIL" id="inp_email" name="email" type="email">
                  <input octavalidate="R,DIGITS" id="inp_age" name="age" length="2" type="number">
      </div>


      <button type="submit">submit</button>
</form>



<script>
      //create new instance of the function
      const myForm = new octaValidate('my_form');
      //listen for submit event
      document.querySelector('#my_form').addEventListener('submit', function (e) {
            e.preventDefault();
            //invoke the method
            if (myForm.validate() === true) {
                  //validation successful, process form data here
            } else {
                  //validation failed
            }


      })
</script> -->