<!doctype html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- admin -->

      <link rel="stylesheet" href="
      https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css
  " />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
      <!-- <script src="https://cdn.tailwindcss.com"></script> -->

      <!-- <link rel="stylesheet" href="/admin/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/admin/assets/css/lineicons.css" />
      <link rel="stylesheet" href="/admin/assets/css/materialdesignicons.min.css" />
      <link rel="stylesheet" href="/admin/assets/css/fullcalendar.css" />
      <link rel="stylesheet" href="/admin/assets/css/fullcalendar.css" />
      <link rel="stylesheet" href="/admin/assets/css/main.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->
      <!-- CSS -->
      <!-- admin -->

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
      <!-- Font Awesome Icons -->
      <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
      <!-- Nucleo Icons -->
      <link href="/admin/assets1/css/nucleo-icons.css" rel="stylesheet" />
      <link href="/admin/assets1/css/nucleo-svg.css" rel="stylesheet" />
      <!-- Popper -->
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <!-- Main Styling -->
      <link href="/admin/assets1/css/argon-dashboard-tailwind.css?v=1.0.1" rel="stylesheet" />






      <!-- User -->

      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">

      <!-- Css Styles -->
      <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/elegant-icons.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/magnific-popup.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/nice-select.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/owl.carousel.min.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/slicknav.min.css" type="text/css">
      <link rel="stylesheet" href="/user/assets/css/style.css" type="text/css">


      <title>Scoth</title>
</head>

<body>

      <%- body %>




            <!-- admin -->
            <script src="/admin/assests1/js/plugins/chartjs.min.js" async></script>
            <!-- plugin for scrollbar  -->
            <script src="/admin/assests1/js/plugins/perfect-scrollbar.min.js" async></script>
            <!-- main script file  -->
            <script src="/admin/assests1/js/argon-dashboard-tailwind.js?v=1.0.1" async></script>



            <!-- <script src="/admin/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/admin/assets/js/Chart.min.js"></script>
            <script src="/admin/assets/js/dynamic-pie-chart.js"></script>
            <script src="/admin/assets/js/moment.min.js"></script>
            <script src="/admin/assets/js/fullcalendar.js"></script>
            <script src="/admin/assets/js/jvectormap.min.js"></script>
            <script src="/admin/assets/js/world-merc.js"></script>
            <script src="/admin/assets/js/polyfill.js"></script>
            <script src="/admin/assets/js/main.js"></script> -->


            <!-- User -->

            <!-- <script src="/user/assets/js/jquery-3.3.1.min.js"></script> -->
            <script src="/user/assets/js/bootstrap.min.js"></script>
            <script src="/user/assets/js/jquery.nice-select.min.js"></script>
            <script src="/user/assets/js/jquery.nicescroll.min.js"></script>
            <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
            <script src="/user/assets/js/jquery.countdown.min.js"></script>
            <script src="/user/assets/js/jquery.slicknav.js"></script>
            <script src="/user/assets/js/mixitup.min.js"></script>
            <script src="/user/assets/js/owl.carousel.min.js"></script>
            <script src="/user/assets/js/main.js"></script>


</body>

</html>